doctype html
include ../compara/head.pug
.wrapper
    include ../compara/sidebar
    script.
        $(document).ready(function () {
            $('#investment').addClass('active');
        });
    .main
        include ../compara/navbar
        main.content
            .container-fluid.p-0
                .row.row-cols-auto.mb-2
                    .col.ms-3
                        h1
                            strong Invest management
                        h6 투자 내역 관리
                    .col.text-end.align-self-center.ms-3
                        a.btn.btn-dark.btn-sm(href="investmentadd") Add item
                .row
                    .col
                        .card
                            .card-body
                                h3.fw-bold= "Today's dollor"
                                .row
                                    .col
                                        span= currency.name
                                    .col
                                        span= "Current : " + currency.basePrice
                                    .col
                                        span= " Ref date : " + currency.date
                                    .col
                                        span= " Provider : " + currency.provider
                .row
                    .col
                        .card
                            .card-body
                                table.table
                                    thead
                                        tr
                                            th Item
                                            th Bought
                                            th Devidend
                                            th Current
                                    tbody
                                        for line in result
                                            tr
                                                //item

                                                // Cost
                                                td
                                                    .row.fw-bold
                                                        .col
                                                            span= line.item
                                                        .col.text-end.text-sm
                                                            form.me-auto(action="investmentedit" method="POST")
                                                                input(type="hidden" name="_csrf" value=csrfToken)
                                                                input(type="hidden" name="id" value=line.id)
                                                                input(type="hidden" name="item" value=line.item)
                                                                input(type="hidden" name="buying" value=line.buying)
                                                                input(type="hidden" name="currency" value=line.currency)
                                                                input(type="hidden" name="count" value=line.count)
                                                                if(line.boughtdate)
                                                                    input(type="hidden" name="boughtdate" value=line.boughtdate)
                                                                input(type="hidden" name="dividendo" value=line.dividendo)
                                                                input(type="hidden" name="dividend" value=line.dividend)
                                                                input.btn.btn-info.btn-xs(type="submit" value="Edit")
                                                    .row
                                                        .col
                                                            span.text-sm Price
                                                        .col.text-end
                                                            span.text-sm= line.buying
                                                    .row
                                                        .col
                                                            span.text-sm Quantity
                                                        .col.text-end
                                                            span.text-sm= line.count
                                                //Price bought
                                                td.text-sm
                                                    .row
                                                        .col
                                                            if(line.boughtdate)
                                                                span.fw-bold Date
                                                        .col.text-end
                                                            if(line.boughtdate)
                                                                span= line.boughtdate.split(' ')[0]
                                                    .row
                                                        .col
                                                            span.fw-bold Total
                                                        .col.text-end
                                                            span= Math.round(line.count * line.buying * line.currency).toLocaleString()
                                                    .row
                                                        .col
                                                            span.fw-bold Currency
                                                        .col.text-end
                                                            if line.currency === '1'
                                                                span= "KRW"
                                                            else
                                                                span= line.currency


                                                //dividend
                                                td.text-sm
                                                    .row
                                                        .col
                                                            span.fw-bold Term
                                                        .col.text-end
                                                            span.fw-bold
                                                                if line.dividendo === 12
                                                                    span Monthly
                                                                else if line.dividendo === 1
                                                                    span Yearly
                                                                else if line.dividendo === 4
                                                                    span Quarter
                                                                else if line.dividendo === 2
                                                                    span Half
                                                                else
                                                                    span= line.dividendo
                                                    .row
                                                        .col
                                                            span.fw-bold Currency
                                                        .col.text-end
                                                            span= Math.round(line.dividend * currency.basePrice) + "KRW"

                                                //Current price
                                                td.text-sm
                                                    .row
                                                        .col
                                                            span.fw-bold Current
                                                        .col.text-end
                                                            if line.current
                                                                span= line.current
                                                            else
                                                                span No data
                                                    .row
                                                        .col
                                                            span.fw-bold Gain
                                                        .col.text-end
                                                            if line.current
                                                                span= line.current - (line.count * line.buying)
                                                            else
                                                                span No data
                                                td

        include ../compara/footer.pug
    include ../compara/footer_script.pug