doctype html
include ../compara/head.pug
.wrapper
    include ../compara/sidebar
    script.
        $(document).ready(function () {
            $('#vehiclemanage').addClass('active');
        });
    .main
        include ../compara/navbar
        main.content
            .container-fluid.p-0
                .row.justify-content-start.mb-2
                    .col-auto.ms-2
                        h1
                            strong Vehicle management
                        h6 차량관리
                    .col
                        h2.fw-bold= result.title
                //추가해야하는항목 - 차량별칭, 현제km - mileage, 차량번호(number)- 필요시, detail, 출고일
                .row
                    .col-lg-8
                        .card
                            .card-body.fw-bold
                                .row
                                    .col
                                        h4 Current range
                                        p.fw-bold.text-end= result.mileage.toLocaleString() + " KM"
                                    .col
                                        h4= "Date produced"
                                        p.fw-bold.text-end= result.produced
                                //span= result.detail
                        .card
                            .card-body
                                .row
                                    .col
                                        h3 Vehicle Expendables
                                    .col.text-end
                                        a.btn.btn-sm.btn-primary(type="button" data-bs-toggle="modal" data-bs-target="#veadd" href="#") Add data
                                        .modal.text-start#veadd
                                            .modal-dialog
                                                form(action="veadd" method="post")
                                                    .modal-content.text-dark
                                                        .modal-header.mb-0.pb-2
                                                            .modal-title
                                                                h4.fw-bold Add vehicle expendable
                                                                label 차량 소모품 추기
                                                        .modal-body
                                                            input(type="hidden" name="_csrf" value=csrfToken)
                                                            label.fw-bold.mb-2 Title
                                                            input.form-control.mb-3(type="text" name="title" required)
                                                            label.fw-bold.mb-2 Lifecycle ( km )
                                                            input.mb-3.form-control(type="number" name="lifecycle" placeholder="Lifecycle" required)
                                                            label.fw-bold.mb-2 Lastdate
                                                            input.mb-3.form-control( type="date" name="lastdate" placeholder="Lastdate" required)
                                                            label.fw-bold.mb-2 Cost
                                                            input.mb-3.form-control(type="number" name="cost" placeholder="Cost" required)
                                                            label.fw-bold.mb-2 Comment
                                                            textarea.mb-3.form-control(type="textarea" name="comment" placeholder="comment" required)
                                                        .modal-footer
                                                            a.btn.btn-secondary.ms-auto(data-bs-dismiss="modal") Close
                                                            button.btn.btn-primary.text-light(type="submit") Submit
                                table.table
                                    thead
                                        tr
                                            th Type
                                            th 교환주기
                                            th 마지막 교환 시점
                                            th 비용
                                            th control
                                    tbody
                                        // @todo Require to fill data with sql
                                        for line in data3
                                            tr
                                                td= line.title
                                                td= line.lifecycle
                                                td= line.lastdate
                                                td= line.cost.toLocaleString() + " KRW"
                                                td= line.comment



                    .col-lg-4
                        .card
                            .card-header
                                h4 suggest maintenance
                            .card-body
                                span under construction


        include ../compara/footer.pug
    include ../compara/footer_script.pug