doctype html
head
    include ../compara/head
    script.
        function numberWithCommas(num) {
            var parts = num.toString().split(".");
            return parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",") + (parts[1] ? "." + parts[1] : "");
        }
        function chkNumber(obj) {
            var tmpValue = $(obj).val().replace(/[^0-9,]/g, '');
            tmpValue = tmpValue.replace(/[,]/g, '');
            obj.value = numberWithCommas(tmpValue);
        }
.wrapper
    include ../compara/sidebar
    script.
        $(document).ready(function () {
            $('#financialobligation').addClass('active');
        });
    .main
        include ../compara/navbar
        main.content
            .container-fluid.p-0
                .row.justify-content-start.mb-2
                    .col-auto.ms-2
                        h1
                            strong= "Financial obligation"
                        h6 채무관계
                .row
                    .col-lg-12
                        .card
                            .card-body
                                .row
                                    .col
                                        h3 Incompleted lend
                                        h6 완료되지 않은 채무
                                    .col.text-end
                                        a.btn.btn-sm.btn-primary(type="button" data-bs-toggle="modal" data-bs-target="#financialobligationadd" href="#") Add data
                                        .modal.text-start#financialobligationadd
                                            .modal-dialog
                                                form(action="financialobligationadd" method="post")
                                                    .modal-content.text-dark
                                                        .modal-header.mb-0.pb-2
                                                            .modal-title
                                                                h4.fw-bold Add Financial obligation
                                                                label 대부 항목 추가
                                                        .modal-body
                                                            input(type="hidden" name="_csrf" value=csrfToken)
                                                            label.fw-bold.mb-2 Loaner
                                                            input.mb-2.form-control(type="text" name="loaner" placeholder="loaner" required)
                                                            label.fw-bold.mb-2 Title
                                                            input.mb-2.form-control(type="text" name="title" placeholder="Title" required)
                                                            label.fw-bold.mb-2 Cost
                                                            .input-group.mb-3
                                                                input(class="form-control" type="text" onkeyup="chkNumber(this)" name="cost" placeholder="Cost" required)
                                                                span(class="input-group-text" id="basic-addon2") KRW
                                                            label.fw-bold.mb-2 Due date
                                                            input.mb-2.form-control(type="date" name="duedate" placeholder="duedate")
                                                        .modal-footer
                                                            a.btn.btn-secondary.ms-auto(data-bs-dismiss="modal") Close
                                                            button.btn.btn-primary.text-light(type="submit") Submit
                                table.table
                                    thead
                                        th Title
                                        th Cost
                                        th Loaner
                                        th Created
                                        th Duedate
                                        th Edit
                                    tbody
                                        for line in result
                                            if(!line.complete)
                                                tr
                                                    td= line.title
                                                    td.text-end= line.cost.toLocaleString() + " KRW"
                                                    td= line.loaner
                                                    td= line.created
                                                    td
                                                        if line.duedate
                                                            span= line.duedate
                                                        else
                                                            span No data
                                                    td
                                                        form.me-auto(action="financialobligationedit" method="POST")
                                                            input(type="hidden" name="_csrf" value=csrfToken)
                                                            input(type="hidden" name="id" value=line.id)
                                                            input(type="hidden" name="title" value=line.title)
                                                            input(type="hidden" name="cost" value=line.cost)
                                                            input(type="hidden" name="loaner" value=line.loaner)
                                                            if line.duedate
                                                                input(type="hidden" name="duedate" value=line.duedate)
                                                            input(type="hidden" name="complete" value=line.complete)
                                                            input.btn.btn-info.btn-sm(type="submit" value="Edit")
                        .card
                            .card-body
                                h3 Completed lend
                                h6 완료된 채무
                                table.table
                                    thead
                                        th title
                                        th cost
                                        th loaner
                                        th created
                                        th duedate
                                    tbody
                                        for line in result
                                            if(line.complete)
                                                tr
                                                    td= line.title
                                                    td= line.cost
                                                    td= line.loaner
                                                    td= line.created
                                                    td= line.complete
        include ../compara/footer
    include ../compara/footer_script