doctype html
head
    include ../compara/head
    script.
        function numberWithCommas(num) {
            var parts = num.toString().split(".");
            return parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",") + (parts[1] ? "." + parts[1] : "");
        }
        function chkNumber(obj) {
            var tmpValue = $(obj).val().replace(/[^0-9,]/g, '');
            tmpValue = tmpValue.replace(/[,]/g, '');
            obj.value = numberWithCommas(tmpValue);
        }
.wrapper
    include ../compara/sidebar
        script.
            $(document).ready(function () {
                $('#wishlist').addClass('active');
            });
    .main
        include ../compara/navbar
        main.content
            .container-fluid.p-0
                .row.justify-content-start
                    h1
                        strong= "Add Financial obligation"
                    h6 대부 항목 추가
                    .row
                        .card
                            .card-body
                                .container.col-xl-8.col-lg-12
                                    form(action="financialobligationapply" method="post")
                                        input(type="hidden" name="_csrf" value=csrfToken)
                                        h4 Loaner
                                        .text-sm 채무자
                                        input.mb-3(class="form-control" type="text" name="loaner" placeholder="loaner" value=rb.loaner class="col-12" required)
                                        h4 Title
                                        .text-sm 제목
                                        input.mb-3(class="form-control" type="text" name="title" placeholder="Title" value=rb.title class="col-12" required)
                                        h4 Cost
                                        .text-sm 액수
                                            .input-group.mb-3
                                                input(class="form-control" type="text" onkeyup="chkNumber(this)" name="cost" value=rb.cost placeholder="Cost" class="col-12" required)
                                                span(class="input-group-text" id="basic-addon2") KRW
                                        h4 Due date
                                        .text-sm 채무 만료일
                                        input.mb-3(class="form-control" type="date" name="duedate" placeholder="duedate" value=duedate class="col-12")
                                        h4 Completed
                                        .text-sm 채무 이행일
                                        input.mb-3(class="form-control" type="date" name="complete" placeholder="complete" class="col-12")
                                        .text-end
                                            button.btn.btn-danger.ms-2(type="button" data-bs-toggle="modal" data-bs-target="#removeModal") Remove
                                            .modal.text-start#removeModal
                                                .modal-dialog
                                                    .modal-content
                                                        .modal-header
                                                            .modal-title Warning
                                                        .modal-body
                                                            p Remove action is not recoverable
                                                            p will you continue?
                                                            .text-end
                                                                a.btn.btn-secondary.ms-auto(data-bs-dismiss="modal") Close
                                                                a.btn.btn-danger.ms-2(href="financialobligationremove") Remove
                                            a.ms-2(class="btn btn-dark text-light" href="javascript:history.back()") go back
                                            button.ms-2(class="btn btn-dark text-light" type="submit") Submit

    include ../compara/footer_script.pug