head
    include ../../compara/head
.wrapper
    include ../../compara/sidebar
    script.
        $(document).ready(function () {
            $('#projects').addClass('active');
        });
    .main
        include ../../compara/navbar
        main.content
            .container-fluid.p-0
                .row.justify-content-start.mb-2
                    .col-auto.ms-2
                        h1
                            strong= "Edit Task"
                        h6 작업 요청 수정
                    .col-12
                        .card
                            .card-body
                                .container.col-lg-8
                                    form(action="projecttaskedit" method="post")
                                        input(type="hidden" name="_csrf" value=csrfToken)
                                        //[rb.tasktitle, req.session.idn, rb.worker, rb.detail, rb.status];
                                        table(class="table table-hover table-borderless text-center")
                                            input(value=tid type="hidden" name="tid")
                                            tr
                                                th(class="col-6") Title
                                                td
                                                    input(class="form-control" value=task.tasktitle type="text" name="tasktitle" placeholder="title" class="col-12" required)
                                            tr
                                                th(class="col-6") Detail
                                                    td
                                                        input(class="form-control" value=task.detail  type="textarea" name="detail" placeholder="detail" class="col-12" required)
                                            tr
                                                th(class="col-6") Due date
                                                    td
                                                        input(class="form-control" value=task.duedate type="date" name="duedate" placeholder="duedate" class="col-12" required)

                                        div(class="row")
                                            a(class="btn btn-dark text-light col-lg-3 col-sm-5 ms-auto m-2" href="javascript:history.back()") go back
                                            button(class="btn btn-dark text-light col-lg-3 col-sm-5 m-2" type="submit") Submit

    include ../../compara/footer_script