doctype html
include ../../compara/head
.wrapper
    include ../../compara/sidebar
    script.
        $(document).ready(function () {
            $('#projects').addClass('active')
            $('#delete').click(function () {
                var comment_id = [];
                let _csrf = ($("input[name='_csrf']")[0].getAttribute('value'));
                $("input[name='checkbox']:checked").each(function () {
                    comment_id.push($(this)[0].getAttribute('id'));
                });
                console.log(comment_id);
                $.ajax({
                    type: 'POST',
                    url: '/taskdeletecomment',
                    dataType: 'json',
                    traditional: true,
                    data: {
                        _csrf: _csrf,
                        comment_id: comment_id,
                    },
                    success: function () {
                        location.reload();
                    },
                    error: function () {
                        alert('error');
                    }
                });
            });
        });
    .main
        include ../../compara/navbar
        main.content
            .container-fluid.p-0
                .row.justify-content-start.mb-3
                    .col-auto.m-0.p-0.ms-3
                        h2.fw-bold= task.tasktitle
                    .col.text-start.p-0
                        if task.status === 0
                            .ms-3.badge.bg-warning PENDING
                        else if task.status === 1
                            .ms-3.badge.bg-primary ON GOING
                        else if task.status === 2
                            .ms-3.badge.bg-danger REJECTED
                        else if task.status === 3
                            .ms-3.badge.bg-success COMPLETE
                    //    h6= project.description
                    //        if(project.creator == id)
                    //            span.ms-3.badge.bg-danger owner
                    .col-auto.ms-auto.me-3.text-end.p-0
                        a.btn.btn-secondary(href="projectdetail?pid="+task.projectid) Back
                    if(task.creator === id)
                        .col-auto.p-0.me-3
                            form(action="projecttaskedit" method="get").mb-2
                                input(type="hidden" name="tid" value=tid)
                                input.btn.btn-primary(type="submit" value="Edit")
                    .col-auto.p-0.me-3
                        button.btn.btn-danger.disabled(type='button' data-toggle='modal' data-target='#removemodal') Remove
                        .modal.fade(tabindex='-1' aria-labelledby='myModal' aria-hidden='true' id="removemodal")
                            .modal-dialog
                                .modal-content
                                    .modal-header
                                        h5#exampleModalLabel.modal-title Modal title
                                        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                                    .modal-body
                                    .modal-footer
                                        button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
                                        button.btn.btn-primary(type='button') Save changes
                .row
                    .col-lg-8
                        .card
                            .card-header
                                h4 Description
                                hr
                                .row
                                    .col
                                        .h5= task.detail
                    .col-lg-4
                        .card
                            .card-header
                                h4 Creator
                                hr
                                for member in pmember
                                    if(task.creator === member.idnum)
                                        h5= member.name
                    .col-lg-12
                        .card
                            .card-body
                                h4 Comment
                                table.table.table-sm
                                    thead
                                        tr
                                            th User
                                            th Status change
                                            th Comment
                                    tbody
                                        for line in comments
                                            tr
                                                th
                                                    for member in pmember
                                                        if(line.userid === member.idnum)
                                                            span= member.name
                                                            p.small
                                                                span= line.created.toLocaleString().split(' ')[0] + ' '
                                                                span= line.created.toLocaleString().split(' ')[1]
                                                td
                                                    if line.status === 0
                                                        .ms-3.badge.bg-warning PENDING
                                                    else if line.status === 1
                                                        .ms-3.badge.bg-primary ON GOING
                                                    else if line.status === 2
                                                        .ms-3.badge.bg-danger REJECTED
                                                    else if line.status === 3
                                                        .ms-3.badge.bg-success COMPLETE
                                                td= line.comment
                                                td
                                                    input(class="checkbox" id=line.commentid name="checkbox" type="checkbox")
                                        tr
                                            form(action="taskaddcomment" method="post")
                                                input(type="hidden" name="_csrf" value=csrfToken)
                                                td
                                                    select(class="form-control" name="status" placeholder="status")
                                                        option(value="" selected) No change
                                                        option(value="0") PENDING
                                                        option(value="1") ON GOING
                                                        option(value="2") REJECTED
                                                        option(value="3") COMPLETE
                                                td
                                                    input(class="form-control" type="text" name="comment" placeholder="comment" class="col-12" required)
                                                td
                                                    button(class="form-control btn btn-dark text-light " type="submit") Submit
                                            td
                                                button(class="form-control btn btn-dark text-light " id="edit" type="submit") 수정
                                            td
                                                button(class="form-control btn btn-dark text-light " id="delete" type="submit") 삭제


        include ../../compara/footer
    include ../../compara/footer_script