head
    include ../compara/head
    script.
        function numberWithCommas(num) {
            var parts = num.toString().split(".");
            return parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",") + (parts[1] ? "." + parts[1] : "");
        }
        function chkNumber(obj) {
            var tmpValue = $(obj).val().replace(/[^0-9,]/g, '');
            tmpValue = tmpValue.replace(/[,]/g, '');
            obj.value = numberWithCommas(tmpValue);
        }
.wrapper
    include ../compara/sidebar
    .main
        include ../compara/navbar
        script.
            $(document).ready(function () {
                $('#latestdata').addClass('active');
            });
        main.content
            .container-fluid.p-0
                .row.justify-content-start.mb-2
                    .col.ms-2
                        h1
                            strong= "Expenditure Detail"
                        h6 지출 내역 상세
                .row
                    .col-lg-12
                        .card.shadow
                            .card-body
                                form(class="data")
                                    .row.justify-content-md-center
                                        .col-lg-6

                                                .row.align-content-end
                                                    .col.h4.fw-bold Usage
                                                    .col.h6.mt-1 사용처
                                                    .col
                                                input.mb-2(class="form-control" type="text" name="detail" placeholder="detail" value=result[0].detail)
                                                .row.align-content-end
                                                    .col.h4.fw-bold Cost
                                                    .col.h6.mt-1 비용
                                                    .col
                                                .input-group.mb-2
                                                    input.form-control.text-end( type="text" onkeyup="chkNumber(this)" name="cost" placeholder="cost" value=result[0].cost.toLocaleString() class="col-12" required)
                                                    span(class="input-group-text" id="basic-addon2") KRW
                                                .row.align-content-end
                                                    .col.h4.fw-bold method
                                                    .col.h6.mt-1 지불방법
                                                    .col
                                                input.mb-2(class="form-control" type="text" name="title" placeholder="title" value=result[0].title)
                                                .row.align-content-end
                                                    .col.h4.fw-bold Large category
                                                    .col.h6.mt-1 대분류
                                                    .col
                                                input.mb-2(class="form-control" type="text" name="details" placeholder="detail" value=result[0].subord)
                                                .row.align-content-end
                                                    .col.h4.fw-bold Small category
                                                    .col.h6.mt-1 소분류
                                                    .col
                                                input.mb-2(class="form-control" type="text" name="details" placeholder="date" value=result[0].alligner)
                                                .row.align-content-end
                                                    .col.h4.fw-bold Date
                                                    .col.h6.mt-1 사용일
                                                    .col
                                                input.mb-2(class="form-control" type="date" name="details" placeholder="date" value=result[0].time)
                                    div.text-end
                                        button.btn.btn-primary.disabled(type="submit") submit
                                        button.btn.btn-danger.ms-2(type="button" data-bs-toggle="modal" data-bs-target="#removeModal") Remove
                                            .modal.text-start#removeModal
                                                .modal-dialog
                                                    .modal-content.text-dark
                                                        .modal-header
                                                            .modal-title Warning
                                                        .modal-body
                                                            p Remove action is not recoverable
                                                            p will you continue?
                                                            .text-end
                                                                a.btn.btn-secondary.ms-auto(data-bs-dismiss="modal") Close
                                                                a.btn.btn-danger.ms-2(href="removedata?id=" + result[0].id) Remove Data
                                        a.btn.btn-dark.ms-2(href="index") Go Back
        include ../compara/footer
include ../compara/footer_script
