doctype html
include ../compara/head
.wrapper
    include ../compara/sidebar
        script.
            $(document).ready(function () {
                $('#latestdata').addClass('active');
            });
    .main
        include ../compara/navbar
        main.content
            .container-fluid.p-0
                    div(class="col-lg-12")
                        div(class='card shadow')
                            div(class='card-header py-3')
                                h6(class="m-0 font-weight-bold") Latest List
                            div(class='card-body')
                                table(class="table table-bordered table-sm")
                                    thead(class="table-dark")
                                        tr(class="text-center")
                                            th Assortment
                                            th Cost
                                            th Count
                                            th Example
                                            th Date
                                    tbody(class="text-center")
                                        for line in result
                                            tr  
                                                td= line.alligner
                                                td(class="text-right")= line.cost + '₩'
                                                td= line.times
                                                td= line.detail
                                                td= line.date
                                div.text-end
                                    button.btn.btn-danger(type="button" data-bs-toggle="modal" data-bs-target="#removeModal") Remove
                                        .modal.text-start#removeModal
                                            .modal-dialog
                                                .modal-content.text-dark
                                                    .modal-header
                                                        .modal-title Warning
                                                    .modal-body
                                                        p Remove action is not recoverable
                                                        p will you continue?
                                                        .text-end
                                                            a.btn.btn-secondary.ms-auto(data-bs-dismiss="modal") Close
                                                            a.btn.btn-danger.ms-2(href="removedata?id=" + result[0].id) Remove Data
                                    a.btn.btn-dark.ms-2(href="index") Go Back
        include ../compara/footer
include ../compara/footer_script
