head
    include ../compara/head.pug
.wrapper
    include ../compara/sidebar
    script.
        $(document).ready(function () {
            $('#expendables').addClass('active');
        });
    .main
        include ../compara/navbar
        main.content
            .container-fluid.p-0
                row(class="row justify-content-center")
                    H2(class="m-4 text-dark") Add Expendable purchase
                    div(class="col-12")
                        div(class='card border-0 shadow-lg')
                            div(class='card-body')
                                div(class="container col-lg-8")
                                    form(action="expendablepurchaseadd" method="post")
                                        table(class="table table-hover table-borderless text-center")
                                            tr
                                                th cost
                                                td
                                                    input(class="form-control" type="number" name="cost" value=cost placeholder="cost" class="col-12" required)
                                            tr
                                                th(class="col-6") detail
                                                td
                                                    input(class="form-control" type="text" name="details" value=title placeholder="details" class="col-12" readonly)
                                            tr
                                                th method
                                                td
                                                    select(class="form-control" name="title" placeholder="title" class="col-12" required)
                                                        for line in setting.method
                                                            option(value=line)= line
                                            tr
                                                th Paid for
                                                td
                                                    select(class="form-control" name="subord" placeholder="title" class="col-12" required)
                                                        for line in setting.paidfor
                                                            option(value=line)= line
                                            tr
                                                th date
                                                td
                                                    input#dateinput(class="form-control" type="date" name="date" placeholder="date" class="col-12" required)
                                                    script.
                                                        document.getElementById('dateinput').value= new Date().toISOString().slice(0, 7);
                                                        document.getElementById('dateinput').value = new Date().toISOString().substring(0, 10);;
                                            tr
                                                th alligner
                                                td
                                                    select(class="form-control" name="alligner" placeholder="alligner" class="col-12" required)
                                                        for line in setting.alligner
                                                            option(value=line)= line
                                        div(class="row")
                                            a(class="btn btn-dark text-light col-lg-3 col-sm-5 ml-auto m-2" href="javascript:history.back()") go back
                                            button(class="btn btn-dark text-light col-lg-3 col-sm-5 m-2" type="submit") Submit

    include ../compara/footer_script.pug