doctype html
include ../compara/head.pug
.wrapper
    include ../compara/sidebar
    script.
        $(document).ready(function () {
            $('#fixedexpense').addClass('active');
        });
    .main
        include ../compara/navbar
        main.content
            .container-fluid.p-0
                .row.justify-content-start.mb-2
                    .col-auto.ms-2
                        h1
                            strong= "Fixed expense"
                        h6 고정 지출
                .row
                    div(class="col-xl-3 col-md-6 col-xs-122")
                        div(class="card mb-2 border-left-primary shadow")
                            div(class="card-body")
                                div(class="row no-gutters align-items-center")
                                    div(class="col mr-2")
                                        div(class="text-xs font-weight-bold text-primary text-uppercase mb-1") Total Fixed expense
                                        div(class="h5 text-end mb-0 font-weight-bold text-gray-800")
                                            if(sum[0].totalbill)
                                                span= sum[0].totalbill.toLocaleString() + " KRW"
                                            else
                                                span not data
                                    div(class="col-auto")
                                        i(class="fas fa-money-check-alt fa-2x text-gray-300")
                    div(class="col-xl-3 col-md-6 col-xs-12")
                        div(class="card mb-2 border-left-info shadow")
                            div(class="card-body")
                                div(class="row no-gutters align-items-center")
                                    div(class="col mr-2")
                                        div(class="text-xs font-weight-bold text-info text-uppercase mb-1") Divided as month
                                        div(class="h5 text-end mb-0 font-weight-bold text-gray-800")
                                            if sum[0].divbill
                                                span= sum[0].divbill.toLocaleString() + " KRW"
                                            else
                                                span not data
                                    div(class="col-auto")
                                        i(class="fas fa-file-invoice-dollar fa-2x text-gray-300")
                    div(class="col-xl-3 col-md-6 col-xs-12")
                        div(class="card mb-2 border-left-success shadow")
                            div(class="card-body")
                                div(class="row no-gutters align-items-center")
                                    div(class="col mr-2")
                                        div(class="text-xs font-weight-bold text-success text-uppercase mb-1") Monthly bill
                                        div(class="h5 text-end mb-0 font-weight-bold text-gray-800")
                                            if sum[0].monthbill
                                                span= sum[0].monthbill.toLocaleString() + " KRW"
                                            else
                                                span no data
                                    div(class="col-auto")
                                        .fa-solid.fa-calendar-days.fa-2x
                    div(class="col-xl-3 col-md-6 col-xs-12")
                        div(class="card mb-2 border-left-warning shadow")
                            div(class="card-body")
                                div(class="row no-gutters align-items-center")
                                    div(class="col mr-2")
                                        div(class="text-xs font-weight-bold text-warning text-uppercase mb-1") Year bill
                                        div(class="h5 text-end mb-0 font-weight-bold text-gray-800")
                                            if sum[0].yearbill
                                                span= sum[0].yearbill.toLocaleString() + " KRW"
                                            else
                                                span not data
                                    div(class="col-auto")
                                        .fa-solid.fa-earth-americas.fa-2x
                    div(class='col-md-12 card shadow')
                        div(class='card-body')
                            table.table.table-sm
                                thead
                                    tr(class="text-center")
                                        th Title
                                        th Comment
                                        th Recently used payment
                                        th Price
                                        th Cycle
                                        th Control
                                tbody(class="text-center")
                                    for line in result
                                        tr
                                            td.text-sm.text-start
                                                Strong= line.category
                                                br
                                                span= line.title
                                            td= line.comment
                                            td= line.paymethod
                                            if line.cost
                                                td.text-end= line.cost.toLocaleString() + " KRW"
                                            else
                                                td.text-end N/A
                                            td.text-sm
                                                if(line.payment_num == 1)
                                                    span 매년
                                                else if (line.payment_num == 12)
                                                    span 매달
                                                if line.payday
                                                    span= ' ' + line.payday
                                                if(line.lastpaid)
                                                    br
                                                    span= "Paid " + line.lastpaid
                                                else
                                                    br
                                                    span No paid data
                                            td(style="min-width: 150px;")
                                                .input-group.align-content-center.text-center
                                                    if line.link
                                                        a.btn.btn-success.btn-sm.ms-auto(href=line.link) Link
                                                    else
                                                        a.btn.btn-dark.disabled.btn-sm.ms-auto Link
                                                    form(action="fixedexpensepurchase" method="POST")
                                                        input(type="hidden" name="_csrf" value=csrfToken)
                                                        input(type="hidden" name="id" value=line.id)
                                                        input(type="hidden" name="title" value=line.title)
                                                        input(type="hidden" name="cost" value=line.cost)
                                                        input(type="hidden" name="method" value=line.paymethod)
                                                        input.btn.btn-sm.btn-primary(type="submit" value="Add")
                                                    form.me-auto(action="fixedexpenseedit" method="POST")
                                                        input(type="hidden" name="_csrf" value=csrfToken)
                                                        input(type="hidden" name="id" value=line.id)
                                                        input(type="hidden" name="title" value=line.title)
                                                        input(type="hidden" name="category" value=line.category)
                                                        input(type="hidden" name="comment" value=line.comment)
                                                        input(type="hidden" name="cost" value=line.cost)
                                                        input(type="hidden" name="payment_num" value=line.payment_num)
                                                        input(type="hidden" name="link" value=line.link)
                                                        input.btn.btn-info.btn-sm(type="submit" value="Edit")
                            .text-end
                                a.btn.btn-sm.btn-primary(type="button" data-bs-toggle="modal" data-bs-target="#fixedexpenseadd" href="#") Add data
                                .modal.text-start#fixedexpenseadd
                                    .modal-dialog
                                        form(action="fixedexpenseadd" method="post")
                                            .modal-content.text-dark
                                                .modal-header.mb-0.pb-2
                                                    .modal-title
                                                        h4.fw-bold Add fixed expense
                                                        label 고정 지출 항목 추가
                                                .modal-body
                                                    input(type="hidden" name="_csrf" value=csrfToken)
                                                    label.fw-bold.mb-2 Title
                                                    input.form-control.mb-2(type="text" name="title" required)
                                                    label.fw-bold.mb-2 Category
                                                    select.mb-2.form-select(name="category" placeholder="Category" required)
                                                        option(value="" selected disabled hidden) Category
                                                        for line in ['통신비', '교통비', '생활비', '구독', '보험', '세금']
                                                            option(value=line)= line
                                                    label.fw-bold.mb-2 Comment
                                                    input.mb-2(class="form-control" type="text" name="comment" placeholder="Comment" required)
                                                    label.fw-bold.mb-2 Link
                                                    input.mb-2(class="form-control" type="text" name="link" placeholder="Link")
                                                    label.fw-bold.mb-2 Cycle
                                                    select.mb-2.form-select(name="payment_num" placeholder="payment_num" required)
                                                        option(value="" selected disabled hidden) Payment Cycle
                                                        for line in [['12', '매달'],['1', '매년'], ['2', '반기'], ['4', '분기']]
                                                            option(value=line[0])= line[1]
                                                    label.fw-bold.mb-2 Cost
                                                    input.mb-2(class="form-control" type="number" name="price" placeholder="price" required)
                                                .modal-footer
                                                    a.btn.btn-secondary.ms-auto(data-bs-dismiss="modal") Close
                                                    button.btn.btn-primary.text-light(type="submit") Submit
        include ../compara/footer.pug
    include ../compara/footer_script.pug