head
    include ../compara/head
    script.
        $(document).ready(function () {
            var groupColumn = 2;
            var table = $('#table1').DataTable({
                autoWidth: true,
                // "columnDefs": [
                //     {"visible": false, "targets": groupColumn}
                // ],
                "order": [[groupColumn, 'desc']],
                "displayLength": 10,
                // "drawCallback": function (settings) {
                    // var api = this.api();
                    // var rows = api.rows({page: 'current'}).nodes();
                    // var last = null;
                    //
                    // api.column(groupColumn, {page: 'current'}).data().each(function (group, i) {
                    //     if (last !== group) {
                    //         $(rows).eq(i).before(
                    //             '<tr class="group"><td colspan="5">' + group + '</td></tr>'
                    //         );
                    //
                    //         last = group;
                    //     }
                    // });
                // }
            });

            // Order by the grouping
            // $('#example tbody').on('click', 'tr.group', function () {
            //     var currentOrder = table.order()[0];
            //     if (currentOrder[0] === groupColumn && currentOrder[1] === 'asc') {
            //         table.order([groupColumn, 'desc']).draw();
            //     } else {
            //         table.order([groupColumn, 'asc']).draw();
            //     }
            // });
        });
    script.
        $(document).ready(function () {
            var groupColumn = 2;
            var table = $('#table2').DataTable({
            //     "columnDefs": [
            //         {"visible": false, "targets": groupColumn}
            //     ],
                "order": [[groupColumn, 'desc']],
            //     "displayLength": 10,
            //     "drawCallback": function (settings) {
            //         var api = this.api();
            //         var rows = api.rows({page: 'current'}).nodes();
            //         var last = null;
            //
            //         api.column(groupColumn, {page: 'current'}).data().each(function (group, i) {
            //             if (last !== group) {
            //                 $(rows).eq(i).before(
            //                     '<tr class="group"><td colspan="5">' + group + '</td></tr>'
            //                 );
            //
            //                 last = group;
            //             }
            //         });
            //     }
            });
            //
            // // Order by the grouping
            // $('#example tbody').on('click', 'tr.group', function () {
            //     var currentOrder = table.order()[0];
            //     if (currentOrder[0] === groupColumn && currentOrder[1] === 'asc') {
            //         table.order([groupColumn, 'desc']).draw();
            //     } else {
            //         table.order([groupColumn, 'asc']).draw();
            //     }
            // });
        });

.wrapper
    include ../compara/sidebar
    script.
        $(document).ready(function () {
            $('#latestdata').addClass('active');
        });
    .main
        include ../compara/navbar
        main.content
            .container-fluid.p-0
                .row.justify-content-start.mb-2
                    .col-auto
                        h1
                            strong= "Expenditure List "
                            = yearmonth

                        h6 수입 / 지출 내역
                    .col-auto.mt-auto.mb-lg-3.mb-md-0
                        span.me-2
                            a.btn.btn-success(href="adddata") Add
                        span.me-2
                            a.btn.btn-primary(href="latestdatapmonth") <
                        span.me-2
                            a.btn.btn-primary(href="latestdata") Now
                        span
                            a.btn.btn-primary(href="latestdatanmonth") >
                .row
                    .col-lg-8
                        .card
                            .card-body
                                h4 지출내역
                                hr
                                table.table.table-sm#table1
                                    thead
                                        tr(class="text-center")
                                            th Title
                                            th Method
                                            th Date
                                            th Aligner
                                            th Cost
                                    tbody
                                        for line in result
                                            if line.income === 0
                                                tr
                                                    td.text-center
                                                        a(href="detail?id="+line.id)= line.detail
                                                    td.text-center= line.title
                                                    td= line.date
                                                    td.text-center= line.subord + '-' + line.alligner
                                                    td.text-end= line.cost.toLocaleString() + '₩'
                                hr
                                h4 수입내역
                                hr
                                table.table.table-sm#table2
                                    thead
                                        tr(class="text-center")
                                            th Title
                                            th Method
                                            th Date
                                            th Cat
                                            th Subord
                                            th Cost
                                    tbody
                                        for line in result
                                            if line.income === 1
                                                tr
                                                    td.text-center
                                                        a(href="detail?id=" + line.id)= line.detail
                                                    td.text-center= line.title
                                                    td= line.date
                                                    td.text-center= line.subord + '-' + line.alligner
                                                    td.text-center= line.subord
                                                    td.text-end= line.cost.toLocaleString() + '₩'
                    .col-lg-4
                        .card
                            .card-header
                                h4 지출 분석
                                if(summary.summary)
                                    h6= "총 지출 " + summary.summary.toLocaleString() + '₩'
                                else
                                    h6= "지출 내역 없음"
                            .card-body
                                canvas(id="myChart")
                                hr
                                canvas(id="myChart2")
                script(src="https://cdn.jsdelivr.net/npm/chart.js")
                script(src="/chartjs/latestdata_chart.js")
        include ../compara/footer.pug
    include ../compara/footer_script.pug