head
    include ../compara/head
    script.
        $(document).ready(function () {
            var groupColumn = 0;
            var table = $('#table1').DataTable({
                autoWidth: true,
                "columnDefs": [
                    {"visible": false, "targets": groupColumn}
                ],
                "order": [[groupColumn, 'desc']],
                "displayLength": 10,
                "drawCallback": function (settings) {
                    var api = this.api();
                    var rows = api.rows({page: 'current'}).nodes();
                    var last = null;

                    api.column(groupColumn, {page: 'current'}).data().each(function (group, i) {
                        if (last !== group) {
                            $(rows).eq(i).before(
                                '<tr class="group"><td colspan="5">' + group + '</td></tr>'
                            );

                            last = group;
                        }
                    });
                }
            });
            // Order by the grouping
            $('#example tbody').on('click', 'tr.group', function () {
                var currentOrder = table.order()[0];
                if (currentOrder[0] === groupColumn && currentOrder[1] === 'asc') {
                    table.order([groupColumn, 'desc']).draw();
                } else {
                    table.order([groupColumn, 'asc']).draw();
                }
            });
        });
    script.
        $(document).ready(function () {
            document.getElementById('dateinput').value = new Date().toISOString().substring(0, 10);
            var groupColumn = 0;
            var table = $('#table2').DataTable({
                "columnDefs": [
                    {"visible": false, "targets": groupColumn}
                ],
                "order": [[groupColumn, 'desc']],
                "displayLength": 10,
                "drawCallback": function (settings) {
                    var api = this.api();
                    var rows = api.rows({page: 'current'}).nodes();
                    var last = null;

                    api.column(groupColumn, {page: 'current'}).data().each(function (group, i) {
                        if (last !== group) {
                            $(rows).eq(i).before(
                                '<tr class="group"><td colspan="5">' + group + '</td></tr>'
                            );

                            last = group;
                        }
                    });
                }
            });

            // Order by the grouping
            $('#example tbody').on('click', 'tr.group', function () {
                var currentOrder = table.order()[0];
                if (currentOrder[0] === groupColumn && currentOrder[1] === 'asc') {
                    table.order([groupColumn, 'desc']).draw();
                } else {
                    table.order([groupColumn, 'asc']).draw();
                }
            });
        });
    script.
        function numberWithCommas(num) {
            var parts = num.toString().split(".");
            return parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",") + (parts[1] ? "." + parts[1] : "");
        }
        function chkNumber(obj) {
            var tmpValue = $(obj).val().replace(/[^0-9,]/g, '');
            tmpValue = tmpValue.replace(/[,]/g, '');
            obj.value = numberWithCommas(tmpValue);
        }
    script.
        $(document).ready(function () {
            console.log('get personal info')
            $.ajax({
                type: 'GET',
                url: 'api/personal_info',
                success: function (data) {
                    console.log(data)
                    $("#default_method").val(data[0].default_method).prop("selected", true)
                    $("#default_usage").val(data[0].default_usage).prop("selected", true)
                    $("#default_alligner").val(data[0].default_alligner).prop("selected", true)
                }
            });
        });
.wrapper
    include ../compara/sidebar
    script.
        $(document).ready(function () {
            $('#latestdata').addClass('active');
        });
    .main
        include ../compara/navbar
        main.content
            .container-fluid.p-0
                .row.justify-content-start.mb-2
                    .col-auto.ms-2
                        h1
                            strong= "Expenditure List "
                            = yearmonth
                        h6 수입 / 지출 내역
                    .col-auto.mt-auto.mb-lg-3.mb-md-0
                        span.me-2
                            //a.btn.btn-success(href="adddata") Add
                            button.btn.bg-success.text-white(type='button' data-bs-toggle='modal' data-bs-target='#exampleModal')
                                | Add
                            // Modal
                            #exampleModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
                                .modal-dialog.modal-dialog-centered(role='document')
                                    .modal-content
                                        form(action="adddata" method="post")
                                            input(type="hidden" name="_csrf" value=csrfToken)
                                            .modal-header
                                                h4#exampleModalLabel.modal-title.fw-bold Add data
                                                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                                            .modal-body
                                                .card-body.text-start
                                                    .mb-3
                                                        .row
                                                            .col-3
                                                                label.fw-bold Cost
                                                            .col-auto 비용
                                                        .input-group
                                                            input.form-control.text-end(type="text" onkeyup="chkNumber(this)" name="cost" placeholder="cost" class="col-12" required)
                                                            span(class="input-group-text" id="basic-addon2") KRW
                                                    .mb-3
                                                        .row
                                                            .col-3
                                                                label.fw-bold Detail
                                                            .col-auto 상세내역
                                                        .input-group
                                                            input(class="form-control" type="text" name="details" placeholder="details" class="col-12" required)
                                                    .mb-3
                                                        .row
                                                            .col-3
                                                                label.fw-bold Method
                                                            .col-auto 지불수단
                                                        select(class="form-control" name="title" placeholder="title" class="col-12" required)#default_method
                                                            for line in setting.method
                                                                option(value=line)= line
                                                    .mb-3
                                                        .row
                                                            .col-3
                                                                label.fw-bold Paid for
                                                            .col-auto 용도
                                                        select(class="form-control" name="subord" placeholder="title" class="col-12" required)#default_usage
                                                            for line in setting.paidfor
                                                                option(value=line)= line
                                                    .mb-3
                                                        .row
                                                            .col-3
                                                                label.fw-bold Date
                                                            .col-auto 결제일
                                                        input(id="dateinput" class="form-control" type="date" name="date" placeholder="date" class="col-12" required)
                                                    .mb-3
                                                        .row
                                                            .col-3
                                                                label.fw-bold Alligner
                                                            .col-auto 구분
                                                        select(class="form-control" name="alligner" placeholder="alligner" class="col-12" required)#default_alligner
                                                            for line in setting.alligner
                                                                option(value=line)= line
                                                    .mb-3
                                                        .row
                                                            .col-3
                                                                label.fw-bold Income
                                                            .col-auto 수입 여부
                                                        .m-2
                                                            input(type="checkbox" value="1" name="income" placeholder="Income" id="cb_income")
                                                            label.ms-2(for="cb_income")= " Income (수입)"
                                            .modal-footer
                                                //button.btn.bg-secondary.text-light(type='button' data-bs-dismiss='modal') Close
                                                button.btn.bg-primary.text-light(type='submit') Commit
                        span.me-2
                            a.btn.btn-primary(href="latestdatapmonth") <
                        span.me-2
                            a.btn.btn-primary(href="latestdata") Now
                        span
                            a.btn.btn-primary(href="latestdatanmonth") >
                .row
                    .col-lg-8
                        .card
                            .card-body
                                h4 지출내역
                                hr
                                table.table.table-sm#table1(style="width:100%")
                                    thead
                                        tr(class="text-center")
                                            th Date
                                            th Title
                                            th Method
                                            th category
                                            th Cost
                                    tbody
                                        for line in result
                                            if line.income === 0
                                                tr
                                                    td.text-center
                                                        span.ms-3.badge.bg-info= line.date
                                                    td.text-center
                                                        a(href="detail?id="+line.id)= line.detail
                                                    td.text-center= line.title
                                                    td.text-center= line.subord + '-' + line.alligner
                                                    td.text-end= line.cost.toLocaleString() + '₩'
                                hr
                                h4 수입내역
                                hr
                                table.table.table-sm#table2(style="width:100%")
                                    thead
                                        tr(class="text-center")
                                            th Date
                                            th Title
                                            th Method
                                            th Category
                                            th Cost
                                    tbody
                                        for line in result
                                            if line.income === 1
                                                tr
                                                    td.text-center
                                                        span.ms-3.badge.bg-info= line.date
                                                    td.text-center
                                                        a(href="detail?id=" + line.id)= line.detail
                                                    td.text-center= line.title
                                                    td.text-center= line.subord + '-' + line.alligner
                                                    td.text-end= line.cost.toLocaleString() + '₩'
                    .col-lg-4
                        .card
                            .card-header
                                h4 지출 분석
                                if(summary.summary)
                                    h6= "총 지출 " + summary.summary.toLocaleString() + '₩'
                                else
                                    h6= "지출 내역 없음"
                            .card-body
                                canvas(id="myChart")
                                hr
                                canvas(id="myChart2")
                script(src="https://cdn.jsdelivr.net/npm/chart.js")
                script(src="/chartjs/latestdata_chart.js")
        include ../compara/footer.pug
    include ../compara/footer_script.pug