doctype html
include ../compara/head.pug
.wrapper
    nav#sidebar.sidebar.js-sidebar
        .sidebar-content.js-simplebar
            a.sidebar-brand(href='index')
                span.align-middle E-PRO
                //img(src="images/logo_white.png" alt="homepage" width="90")
            ul.sidebar-nav
                li.sidebar-header
                    | Main functions
                li.sidebar-item
                    a.sidebar-link(href='index')
                        i.align-middle(data-feather='sliders')
                        span.align-middle Dashboard
                li.sidebar-header
                    | Experimental
                li.sidebar-item
                    a.sidebar-link(href='latestdata')
                        i.align-middle(data-feather='bar-chart-2')
                        span.align-middle 수입 지출 관리
                li.sidebar-item
                    a.sidebar-link(href='fixedexpense')
                        i.align-middle(data-feather='grid')
                        span.align-middle 고정 지출
                li.sidebar-item.active
                    a.sidebar-link(href="tobuylist")
                        i.align-middle(data-feather='check-square')
                        span.align-middle 지출 예정 항목
    .main
        include ../compara/navbar
        main.content
            .container-fluid.p-0
                .row.justify-content-start
                    .col-xl-4.col-lg-6.col-md-12
                        h1
                            strong= "To buy list"
                        h6 구매 예정 목록
                .row
                    .col-6
                        .card
                            div(class="card-body")
                                div(class="row no-gutters align-items-center")
                                    div(class="col mr-2")
                                        div(class="text-xs font-weight-bold text-warning text-uppercase mb-1")
                                            strong Requested
                                        div(class="h5 text-end mb-0 font-weight-bold text-gray-800")= "KRW " + summary.req_total.toLocaleString()
                                    div(class="col-auto")
                                        i(class="fas fa-money-check-alt fa-2x text-gray-300")
                    .col-6
                        .card
                            div(class="card-body")
                                div(class="row no-gutters align-items-center")
                                    div(class="col mr-2")
                                        div(class="text-xs font-weight-bold text-danger text-uppercase mb-1")
                                            strong High priorty
                                        div(class="h5 text-end mb-0 font-weight-bold text-gray-800")= "KRW " + summary.high_total.toLocaleString()
                                    div(class="col-auto")
                                        i(class="fas fa-receipt fa-2x text-gray-300")
                .card.col-12
                    .card-body
                        .row
                            table.table
                                thead(class="text-center")
                                    tr(class="text-center")
                                        th Title
                                        th Cost
                                        th Priorty
                                        th Status
                                        th Due date
                                tbody(class="text-center")
                                    for line in result
                                        tr
                                            td= line.title
                                            td= line.cost.toLocaleString() + " KRW"
                                            td(class="text-light text-center")
                                                if line.priorty === 1
                                                    span(class="badge bg-danger") EXTREME
                                                else if line.priorty === 2
                                                    span(class="badge bg-warning") HIGH
                                                else if line.priorty === 3
                                                    span(class="badge bg-success") MEDIUM
                                                else if line.priorty === 4
                                                    span(class="badge bg-info") LOW
                                            td(class="text-light text-center")
                                                if line.stat === 'requested'
                                                    span(class="badge bg-warning") REQUESTED
                                                else if line.stat === 'purchased'
                                                    span(class="badge bg-success") PURCHASED
                                                else if line.stat === 'pending'
                                                    span(class="badge bg-info") PENDING
                                                else if line.stat === 'denied'
                                                    span(class="badge bg-secondary") DENIED
                                            td= line.duedate
                            .col.align-self-end
                                a.btn.btn-dark.text-light(href="addwish") Add data
        include ../compara/footer.pug
    include ../compara/footer_script.pug