doctype html
include compara/head.pug
.wrapper
    nav#sidebar.sidebar.js-sidebar
        .sidebar-content.js-simplebar
            a.sidebar-brand(href='index')
                span.align-middle E-PRO
                //img(src="images/logo_white.png" alt="homepage" width="90")
            ul.sidebar-nav
                li.sidebar-header
                    | Main functions
                li.sidebar-item.active
                    a.sidebar-link(href='index')
                        i.align-middle(data-feather='sliders')
                        span.align-middle Dashboard
                li.sidebar-header
                    | Experimental
                li.sidebar-item
                    a.sidebar-link(href='latestdata')
                        i.align-middle(data-feather='bar-chart-2')
                        span.align-middle 수입 지출 관리
                li.sidebar-item
                    a.sidebar-link(href='fixedexpense')
                        i.align-middle(data-feather='grid')
                        span.align-middle 고정 지출
                li.sidebar-item
                    a.sidebar-link(href="tobuylist")
                        i.align-middle(data-feather='check-square')
                        span.align-middle 지출 예정 항목
    .main
        include compara/navbar
        main.content
            .container-fluid.p-0
                .row.justify-content-start
                    .col-xl-4.col-lg-6.col-md-12
                        h1
                            strong= "Financial Index "
                            = yearmonth
                    .col-xl-4.col-lg-6.col-md-12
                        span.ms-3
                            a(class="mb-2 mr-2 btn btn-primary" href="indexpmonth") Previous month
                        span.ms-3
                            a(class="mb-2 mr-2 btn btn-primary" href="index") Today
                        span.ms-3
                            a(class="mb-2 mr-2 btn btn-primary" href="indexnmonth") Next month
                .row
                    .col-lg-6
                        .row
                            .col-6
                                div(class="card mb-2 border-left-primary shadow")
                                    div(class="card-body")
                                        div(class="row no-gutters align-items-center")
                                            div(class="col mr-2")
                                                div(class="text-xs font-weight-bold text-primary text-uppercase mb-1") Total account
                                                div(class="h5 text-end mb-0 font-weight-bold text-gray-800")
                                                    if(result2[0].total == null)
                                                        span 0 KRW
                                                    else
                                                        span= result2[0].total.toLocaleString() + " KRW"
                                            div(class="col-auto")
                                                i(class="fas fa-money-check-alt fa-2x text-gray-300")
                            .col-6
                                div(class="card mb-2 border-left-info shadow")
                                    div(class="card-body")
                                        div(class="row no-gutters align-items-center")
                                            div(class="col mr-2")
                                                div(class="text-xs font-weight-bold text-info text-uppercase mb-1") Month Value
                                                div(class="h5 text-end mb-0 font-weight-bold text-gray-800")
                                                    if(result3[0].total == null)
                                                        span 0 KRW
                                                    else
                                                        span= result3[0].total.toLocaleString() + " KRW"
                                            div(class="col-auto")
                                                i(class="fas fa-file-invoice-dollar fa-2x text-gray-300")
                            .col-6
                                div(class="card mb-2 border-left-success shadow")
                                    div(class="card-body")
                                        div(class="row no-gutters align-items-center")
                                            div(class="col mr-2")
                                                div(class="text-xs font-weight-bold text-success text-uppercase mb-1") Month income
                                                div(class="h5 text-end mb-0 font-weight-bold text-gray-800")
                                                    if(result3[0].income == null)
                                                        span 0 KRW
                                                    else
                                                        span= result3[0].income.toLocaleString() + " KRW"
                                            div(class="col-auto")
                                                i(class="fas fa-angle-double-up fa-2x text-gray-300")
                            .col-6
                                div(class="card mb-2 border-left-warning shadow")
                                    div(class="card-body")
                                        div(class="row no-gutters align-items-center")
                                            div(class="col mr-2")
                                                div(class="text-xs font-weight-bold text-warning text-uppercase mb-1") Month outcome
                                                div(class="h5 text-end mb-0 font-weight-bold text-gray-800")
                                                    if(result3[0].outcome == null)
                                                        span 0 KRW
                                                    else
                                                        span= result3[0].outcome.toLocaleString() + " KRW"
                                            div(class="col-auto")
                                                i(class="fas fa-angle-double-down fa-2x text-gray-300")
                        div(class='card shadow mb-2')
                            div(class='card-body')
                                canvas(id="myChart")


                    .col-lg-6
                        .card
                            .card-body
                                canvas(id="myChart2")
                        //.card
                            .card-body
                                table.table.hover
                                    tr
                                        th Sort
                                        th Summary
                                    for data in result1
                                        tr
                                            td= data.alligner
                                            td= data.total
                                    tr
                                        td total
                                        td= result3[0].total
            script(src="https://cdn.jsdelivr.net/npm/chart.js")
            script(src="/chartjs/index_chart.js")
        include compara/footer.pug
    include compara/footer_script.pug