doctype html
include compara/head.pug
.wrapper
    include compara/sidebar
    script.
        $(document).ready(function () {
            $('#index').addClass('active');
        });
    .main
        include compara/navbar
        main.content
            .container-fluid.p-0
                .row.justify-content-start.mb-2
                    .col-auto.ms-2
                        h1
                            strong= "Financial index "
                            = yearmonth
                        h6 월간 재정 현황 보고서
                    .col-auto.mt-auto.mb-lg-3.mb-md-0
                        span.me-2
                            a(class="mb-2 mr-2 btn btn-primary" href="indexpmonth") <
                        span.me-2
                            a(class="mb-2 mr-2 btn btn-primary" href="index") Now
                        span
                            a(class="mb-2 mr-2 btn btn-primary" href="indexnmonth") >
                .row
                    .col-lg-6
                        .row
                            .col-6
                                .card.mb-2
                                    .card-body
                                        .row.align-items-center
                                            .col
                                                .fw-bold.text-primary.text-uppercase Total account
                                                .h5.text-end
                                                    if(result2[0].total == null)
                                                        span 0 KRW
                                                    else
                                                        span= result2[0].total.toLocaleString() + " KRW"
                                            .col-auto
                                                i(class="fas fa-money-check-alt fa-2x text-gray-300")
                            .col-6
                                .card.mb-2
                                    .card-body
                                        .row.align-items-center
                                            .col
                                                .fw-bold.text-info.text-uppercase Month Value
                                                .h5.text-end
                                                    if(result3[0].total == null)
                                                        span 0 KRW
                                                    else
                                                        span= result3[0].total.toLocaleString() + " KRW"
                                            .col-auto
                                                i(class="fas fa-file-invoice-dollar fa-2x text-gray-300")
                            .col-6
                                .card.mb-2
                                    .card-body
                                        .row.align-items-center
                                            .col
                                                .fw-bold.text-success.text-uppercase Month income
                                                .h5.text-end
                                                    if(result3[0].income == null)
                                                        span 0 KRW
                                                    else
                                                        span= result3[0].income.toLocaleString() + " KRW"
                                            .col-auto
                                                i(class="fas fa-angle-double-up fa-2x text-gray-300")
                            .col-6
                                .card.mb-2
                                    .card-body
                                        .row.align-items-center
                                            .col
                                                .fw-bold.text-warning.text-uppercase Month outcome
                                                .h5.text-end
                                                    if(result3[0].outcome == null)
                                                        span 0 KRW
                                                    else
                                                        span= result3[0].outcome.toLocaleString() + " KRW"
                                            .col-auto
                                                i(class="fas fa-angle-double-down fa-2x text-gray-300")
                        div(class='card shadow mb-2')
                            div(class='card-body')
                                canvas(id="myChart")
                    .col-lg-6
                        .card
                            .card-body
                                canvas(id="myChart2")
                        //.card
                            .card-body
                                table.table.hover
                                    tr
                                        th Sort
                                        th Summary
                                    for data in result1
                                        tr
                                            td= data.alligner
                                            td= data.total
                                    tr
                                        td total
                                        td= result3[0].total
            script(src="https://cdn.jsdelivr.net/npm/chart.js")
            script(src="/chartjs/index_chart.js")
        include compara/footer.pug
    include compara/footer_script.pug