doctype html
include ../compara/head.pug
.wrapper
    include ../compara/sidebar
    script.
        $(document).ready(function () {
            $('#projects').addClass('active');
        });
    .main
        include ../compara/navbar
        main.content
            .container-fluid.p-0
                .row.justify-content-start
                    .col.mb-3.align-middle
                        a.btn.btn-dark.mb-2(href="projectdetail?pid="+fund.projectid) Back
                        strong.h2.ms-3= fund.title
                            if fund.status === 0
                                .ms-3.badge.bg-warning PENDING
                            else if fund.status === 1
                                .ms-3.badge.bg-primary ON GOING
                            else if fund.status === 2
                                .ms-3.badge.bg-danger REJECTED
                            else if fund.status === 3
                                .ms-3.badge.bg-success COMPLETE
                    //    h6= project.description
                    //        if(project.creator == id)
                    //            span.ms-3.badge.bg-danger owner
                .row
                    .col-lg-8
                        .card
                            .card-header
                                h4 Description
                                hr
                                .row
                                    .col
                                        .h5= fund.detail
                    .col-lg-4
                        .card
                            .card-header
                                h4 Creator
                                hr
                                for member in pmember
                                    if(fund.creator === member.idnum)
                                        h5= member.name
                    .col-lg-12
                        .card
                            .card-body
                                h4 Comment
                                table.table.table-sm
                                    thead
                                        tr
                                            th User
                                            th Status change
                                            th Comment
                                    tbody
                                        if(comments)
                                            for line in comments
                                               tr
                                                   th
                                                       for member in pmember
                                                           if(line.userid === member.idnum)
                                                               span= member.name
                                                               p.small
                                                                   span= line.created.toLocaleString().split(' ')[0] + ' '
                                                                   span= line.created.toLocaleString().split(' ')[1]
                                                   td
                                                        if line.status === 0
                                                            .ms-3.badge.bg-warning PENDING
                                                        else if line.status === 1
                                                            .ms-3.badge.bg-primary ACCEPTED
                                                        else if line.status === 2
                                                            .ms-3.badge.bg-danger REJECTED
                                                        else if line.status === 3
                                                            .ms-3.badge.bg-success COMPLETE
                                                   td= line.comment
                                        tr
                                            form(action="fundaddcomment" method="post")
                                                td(colspan="2")
                                                    .input-group
                                                        button(class="form-control btn btn-dark text-light " type="submit") Submit
                                                        select(class="form-control" name="status" placeholder="status" required)
                                                            option(value="" selected) No change
                                                            option(value="0") PENDING
                                                            option(value="1") ACCEPTED
                                                            option(value="2") REJECTED
                                                            option(value="3") COMPLETE
                                                td
                                                    input(class="form-control" type="text" name="comment" placeholder="comment" class="col-12" required)


        include ../compara/footer.pug
    include ../compara/footer_script.pug