head
    include ../compara/head.pug
.wrapper
    include ../compara/sidebar
    script.
        $(document).ready(function () {
            $('#projects').addClass('active');
        });
    .main
        include ../compara/navbar
        main.content
            .container-fluid.p-0
                .row.justify-content-center
                    h2.fw-bold Add project member
                    h6 프로젝트 맴버 추가
                    .col-12
                        .card
                            .card-body
                                .container.col-lg-8
                                    form(action="projectaddmember" method="GET")
                                        input(type="hidden" name="_csrf" value=csrfToken)
                                        .input-group
                                            input.form-control(type="text" name="memberid" value=id placeholder="Member ID" required)
                                            button.btn.btn-dark.text-light(type="submit") Submit
                                    table.table.text-center
                                        thead
                                            tr
                                                th ID
                                                th User name
                                                th Select
                                        tbody
                                            if result
                                                if result.length >= 1
                                                    for line in result
                                                        tr
                                                            td= line.id
                                                            td= line.name
                                                            td.m-0.p-0
                                                                form(name="apply" action="projectaddmember" method="POST")
                                                                    input(type="hidden" name="_csrf" value=csrfToken)
                                                                    input(type="hidden" name="id" value=line.number)
                                                                    button.btn.btn-primary.mt-3(type="button" data-bs-toggle="modal" data-bs-target="#removeModal") Add member
                                                                    .modal.text-start#removeModal
                                                                        .modal-dialog
                                                                            .modal-content
                                                                                .modal-header
                                                                                    .modal-title= "Add new member : " + line.name
                                                                                .modal-body
                                                                                    p will you continue?
                                                                                    .text-end
                                                                                        a.btn.btn-secondary.ms-auto(data-bs-dismiss="modal") Close
                                                                                        button.btn.btn-primary.ms-2(type="submit") Submit
                                                else
                                                    tr
                                                        td
                                                        td No Data
                                                        td
                                            else
                                                tr
                                                    td
                                                    td No Data
                                                    td


    include ../compara/footer_script.pug