doctype html
include ../compara/head.pug
.wrapper
    include ../compara/sidebar
    script.
        $(document).ready(function () {
            $('#projects').addClass('active');
        });
    .main
        include ../compara/navbar
        main.content
            .container-fluid.p-0
                .row.justify-content-start.mb-2
                    .col-auto.ms-2
                        h1
                            strong= project.title
                        h6= project.description
                            if project.creator === id
                                span.ms-3.badge.bg-danger owner
                .row
                    .col-lg-8
                        .card
                            .card-body
                                .row
                                    .col
                                        .h4 Tasks
                                    .col.text-end
                                        a.btn.btn-sm.btn-dark(type="button" data-bs-toggle="modal" data-bs-target="#projectaddtask" href="#") Add
                                        .modal.text-start#projectaddtask
                                            .modal-dialog
                                                form(action="projectaddtask" method="post")
                                                    .modal-content.text-dark
                                                        .modal-header.mb-0.pb-2
                                                            .modal-title
                                                                h4.fw-bold Add Project
                                                        .modal-body
                                                            input(type="hidden" name="_csrf" value=csrfToken)
                                                            //[rb.tasktitle, req.session.idn, rb.worker, rb.detail, rb.status];
                                                            label.fw-bold.mb-2 Title
                                                            input.form-control.mb-2(type="text" name="tasktitle" required)
                                                            label.fw-bold.mb-2 Detail
                                                            input.form-control.mb-2(type="textarea" name="detail" required)
                                                            label.fw-bold.mb-2 Due date
                                                            input.form-control.mb-2(type="date" name="duedate"  required)
                                                        .modal-footer
                                                            a.btn.btn-secondary.ms-auto(data-bs-dismiss="modal") Close
                                                            button.btn.btn-primary.text-light(type="submit") Submit
                                hr
                                if(tasks)
                                    table.table
                                        thead
                                            th Task
                                            th Descroption
                                            th Status
                                            th Creator
                                        tbody
                                            for line in tasks
                                                tr
                                                    td
                                                        a(href="projecttaskdetail?tid="+ line.taskid)= line.tasktitle
                                                        //form(action="projecttaskdetail" id=line.taskid method="post").mb-2
                                                        //    input(type="hidden" name="_csrf" value=csrfToken)
                                                        //    input(type="hidden" name="tid" value=line.taskid)
                                                        //    a(href="javascript:$('#"+line.taskid+"').submit()")= line.tasktitle
                                                    td= line.detail
                                                    if line.status === 0
                                                        td
                                                            .badge.bg-warning PENDING
                                                    else if line.status === 1
                                                        td
                                                            .badge.bg-primary ON GOING
                                                    else if line.status === 2
                                                        td
                                                            .badge.bg-danger REJECTED
                                                    else if line.status === 3
                                                        td
                                                            .badge.bg-success COMPLETE
                                                    for member in pmember
                                                        if(line.creator === member.idnum)
                                                            td= member.name
                                else
                                    h2 No existing tasks
                        .card
                            .card-body
                                .row
                                    .col
                                        .h4 Request of fund
                                    .col.text-end
                                        a.btn.btn-sm.btn-dark(type="button" data-bs-toggle="modal" data-bs-target="#projectaddfundreq" href="#") Add
                                        .modal.text-start#projectaddfundreq
                                            .modal-dialog
                                                form(action="projectaddfundreq" method="post")
                                                    .modal-content.text-dark
                                                        .modal-header.mb-0.pb-2
                                                            .modal-title
                                                                h4.fw-bold Add Project
                                                        .modal-body
                                                            input(type="hidden" name="_csrf" value=csrfToken)
                                                            //[rb.tasktitle, req.session.idn, rb.worker, rb.detail, rb.status];
                                                            label.fw-bold.mb-2 Title
                                                            input.form-control.mb-2(type="text" name="title" required)
                                                            label.fw-bold.mb-2 Detail
                                                            input.form-control.mb-2(type="textarea" name="detail" required)
                                                            label.fw-bold.mb-2 Cost
                                                            input.form-control.mb-2(type="number" name="cost" required)
                                                        .modal-footer
                                                            a.btn.btn-secondary.ms-auto(data-bs-dismiss="modal") Close
                                                            button.btn.btn-primary.text-light(type="submit") Submit
                                hr
                                table.table
                                    thead
                                        th Title
                                        th Cost
                                        th Status
                                        th Requester
                                        th Accepter
                                        th Status
                                    tbody
                                        for line in fundreq
                                            tr
                                                td
                                                    a(href="projectfunddetail?fundid=" + line.id)= line.title
                                                td= line.detail
                                                td= line.cost.toLocaleString() + "KRW"
                                                td
                                                    for member in pmember
                                                        if line.creator === member.idnum
                                                            span= member.name
                                                td
                                                    for member in pmember
                                                        if line.accepter === member.idnum
                                                            span= member.name
                                                if line.status === 0
                                                    td
                                                        .badge.bg-warning REQUESTED
                                                else if line.status === 1
                                                    td
                                                        .badge.bg-primary ACCEPTED
                                                else if line.status === 2
                                                    td
                                                        .badge.bg-danger REJECTED
                                                else if line.status === 3
                                                    td
                                                        .badge.bg-success COMPLETE
                    .col-lg-4
                        .card
                            .card-body
                                .row
                                    .col
                                        .h4 Members
                                    .col.text-end
                                        a.btn.btn-sm.btn-dark(href="projectaddmember") Add
                                hr
                                table.table
                                    thead
                                        tr
                                            th User ID
                                            th Name
                                    tbody
                                    for member in pmember
                                        tr
                                            td= member.userid
                                            td= member.name
                        .card
                            .card-body
                                .row
                                    .col
                                        .h4 Fund total
                                table.table
                                    thead
                                        tr
                                            th Object
                                            th Cost
                                    tbody
                                        tr
                                            th Requested
                                            td
                                                span#requested
                                        tr
                                            th Completed
                                            td
        include ../compara/footer.pug
    include ../compara/footer_script.pug