doctype html
include ../compara/head
    script.
        function numberWithCommas(num) {
            var parts = num.toString().split(".");
            return parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",") + (parts[1] ? "." + parts[1] : "");
        }
        function chkNumber(obj) {
            var tmpValue = $(obj).val().replace(/[^0-9,]/g, '');
            tmpValue = tmpValue.replace(/[,]/g, '');
            obj.value = numberWithCommas(tmpValue);
        }
.wrapper
    include ../compara/sidebar
    script.
        $(document).ready(function () {
            $('#wishlist').addClass('active');
        });
    .main
        include ../compara/navbar
        main.content
            .container-fluid.p-0
                .row.justify-content-start
                    .col-xl-4.col-lg-6.col-md-12
                        h1
                            strong= "Wish List"
                        h6 구매 예정 목록
                .row
                    .col-6
                        .card
                            div(class="card-body")
                                div(class="row no-gutters align-items-center")
                                    div(class="col mr-2")
                                        div(class="text-xs font-weight-bold text-warning text-uppercase mb-1")
                                            strong Requested
                                        if summary.req_total
                                            div(class="h5 text-end mb-0 font-weight-bold text-gray-800")= "KRW " + summary.req_total.toLocaleString()
                                        else
                                            div(class="h5 text-end mb-0 font-weight-bold text-gray-800") No data
                                    div(class="col-auto")
                                        i(class="fas fa-money-check-alt fa-2x text-gray-300")
                    .col-6
                        .card
                            div(class="card-body")
                                div(class="row no-gutters align-items-center")
                                    div(class="col mr-2")
                                        div(class="text-xs font-weight-bold text-danger text-uppercase mb-1")
                                            strong High priorty
                                        if summary.high_total
                                            div(class="h5 text-end mb-0 font-weight-bold text-gray-800")= "KRW " + summary.high_total.toLocaleString()
                                        else
                                            div(class="h5 text-end mb-0 font-weight-bold text-gray-800") No data
                                    div(class="col-auto")
                                        i(class="fas fa-receipt fa-2x text-gray-300")
                .card.col-12
                    .card-body
                        .row
                            .col.text-start
                                H3 Remain
                            .col.text-end
                                a.btn.btn-sm.btn-primary(type="button" data-bs-toggle="modal" data-bs-target="#addwish" href="#") Add data
                                .modal.text-start#addwish
                                    .modal-dialog
                                        form(action="addwish" method="post")
                                            .modal-content.text-dark
                                                .modal-header.mb-0.pb-2
                                                    .modal-title
                                                        h4.fw-bold Add wish item
                                                        label 구매 예정 항목 추가
                                                .modal-body
                                                    input(type="hidden" name="_csrf" value=csrfToken)
                                                    label.fw-bold.mb-2 Title
                                                    input.form-control.mb-2(type="text" name="title" required)
                                                    label.fw-bold.mb-2 Cost
                                                    .input-group.mb-3
                                                        input(class="form-control" type="text" onkeyup="chkNumber(this)" name="cost" placeholder="Cost" required)
                                                        span(class="input-group-text" id="basic-addon2") KRW
                                                    label.fw-bold.mb-2 Link
                                                    input.mb-3(class="form-control" type="text" name="link" placeholder="Link")
                                                    label.fw-bold.mb-2 Due date
                                                    input.mb-3(class="form-control" type="date" name="duedate" placeholder="duedate" required)
                                                    label.fw-bold.mb-2 Detail
                                                    textarea.mb-3(class="form-control" type="textarea" name="detail" placeholder="detail" required)
                                                    label.fw-bold.mb-2 Priorty
                                                    select.mb-3.form-select(name="priority" placeholder="priorty" required)
                                                        option(value='4') Low
                                                        option(value='3') Medium
                                                        option(value='2') High
                                                        option(value='1') Extreme
                                                .modal-footer
                                                    a.btn.btn-secondary.ms-auto(data-bs-dismiss="modal") Close
                                                    button.btn.btn-primary.text-light(type="submit") Submit
                        hr
                        table.table.table-sm.text-center
                            thead
                                tr
                                    th Detail
                                    th Priorty
                                    th
                                        span.text-sm Created / Due date
                                    th Control
                            tbody
                                for line in result
                                    if (line.stat < 3)
                                        tr
                                            td
                                                span.fw-bold= line.title
                                                span.fw-bold.ms-4= line.cost.toLocaleString() + " KRW"
                                                br
                                                span= line.detail
                                            td(class="text-light text-center")
                                                if line.priority === 1
                                                    span(class="badge bg-danger") EXTREME
                                                else if line.priority === 2
                                                    span(class="badge bg-warning") HIGH
                                                else if line.priority === 3
                                                    span(class="badge bg-success") MEDIUM
                                                else if line.priority === 4
                                                    span(class="badge bg-info") LOW
                                            td
                                                span.fw-bold.text-sm= line.created.split(' ')[0]
                                                br
                                                span.fw-bold.text-sm= line.duedate
                                            td(style="min-width: 150px;")
                                                .input-group
                                                    .ms-auto
                                                        if(line.link)
                                                            a.btn.btn-primary.btn-sm(href=line.link type="button") Link
                                                        else
                                                            a.btn.btn-sm.btn-dark.disabled(type="button") Link
                                                    form(name="apply" action="wishitempurchase" method="POST" type="button")
                                                        input(type="hidden" name="_csrf" value=csrfToken)
                                                        input(type="hidden" name="id" value=line.id)
                                                        input(type="hidden" name="title" value=line.title)
                                                        input(type="hidden" name="cost" value=line.cost)
                                                        input.btn.btn-sm.btn-primary(type="submit" value="Buy")
                                                    form.me-auto(name="apply" action="wishitemedit" method="POST" type="button")
                                                        input(type="hidden" name="_csrf" value=csrfToken)
                                                        input(type="hidden" name="id" value=line.id)
                                                        input(type="hidden" name="title" value=line.title)
                                                        input(type="hidden" name="cost" value=line.cost)
                                                        input(type="hidden" name="duedate" value=line.duedate)
                                                        input(type="hidden" name="link" value=line.link)
                                                        input(type="hidden" name="detail" value=line.detail)
                                                        input(type="hidden" name="priority" value=line.priority)
                                                        input(type="hidden" name="stat" value=line.stat)
                                                        input.btn.btn-sm.btn-info(type="submit" value="Edit")
                .card.col-12
                    .card-body
                        .row
                            .col-xl-6
                                H3 Completed items
                                hr
                                table.table.table-sm
                                    thead(class="text-center")
                                        tr(class="text-center")
                                            th Title
                                            th Cost
                                            th Status
                                            th Completed
                                            th Edit
                                    tbody(class="text-center")
                                        for line in result
                                            if (line.stat === 3)
                                                tr
                                                    td= line.title
                                                    td= line.cost.toLocaleString() + " KRW"
                                                    td(class="text-light text-center")
                                                        if line.stat === 1
                                                            span(class="badge bg-warning") REQUESTED
                                                        else if line.stat === 3
                                                            span(class="badge bg-success") PURCHASED
                                                        else if line.stat === 2
                                                            span(class="badge bg-info") PENDING
                                                        else if line.stat === 4
                                                            span(class="badge bg-secondary") REJECTED
                                                    td.text-sm
                                                        if(line.completed)
                                                            strong= line.completed
                                                        else
                                                            strong No data
                                                    td
                                                        form.me-auto(name="apply" action="wishitemedit" method="POST")
                                                            input(type="hidden" name="_csrf" value=csrfToken)
                                                            input(type="hidden" name="id" value=line.id)
                                                            input(type="hidden" name="title" value=line.title)
                                                            input(type="hidden" name="cost" value=line.cost)
                                                            input(type="hidden" name="duedate" value=line.duedate)
                                                            input(type="hidden" name="link" value=line.link)
                                                            input(type="hidden" name="detail" value=line.detail)
                                                            input(type="hidden" name="priority" value=line.priority)
                                                            input(type="hidden" name="stat" value=line.stat)
                                                            input.btn.btn-sm.btn-info(type="submit" value="Edit")
                            .col-xl-6
                                H3 Rejected items
                                hr
                                table.table.table-sm
                                    thead(class="text-center")
                                        tr(class="text-center")
                                            th Title
                                            th Cost
                                            th Status
                                            th Completed
                                            th Edit
                                    tbody(class="text-center")
                                        for line in result
                                            if (line.stat === 4)
                                                tr
                                                    td= line.title
                                                    td= line.cost.toLocaleString() + " KRW"
                                                    td(class="text-light text-center")
                                                        if line.stat === 1
                                                            span(class="badge bg-warning") REQUESTED
                                                        else if line.stat === 3
                                                            span(class="badge bg-success") PURCHASED
                                                        else if line.stat === 2
                                                            span(class="badge bg-info") PENDING
                                                        else if line.stat === 4
                                                            span(class="badge bg-secondary") REJECTED
                                                    td.text-sm
                                                        if(line.completed)
                                                            strong= line.completed.toISOString().split('T')[0]
                                                        else
                                                            strong No data
                                                    td
                                                        form.me-auto(name="apply" action="wishitemedit" method="POST")
                                                            input(type="hidden" name="_csrf" value=csrfToken)
                                                            input(type="hidden" name="id" value=line.id)
                                                            input(type="hidden" name="title" value=line.title)
                                                            input(type="hidden" name="cost" value=line.cost)
                                                            input(type="hidden" name="duedate" value=line.duedate)
                                                            input(type="hidden" name="link" value=line.link)
                                                            input(type="hidden" name="detail" value=line.detail)
                                                            input(type="hidden" name="priority" value=line.priority)
                                                            input(type="hidden" name="stat" value=line.stat)
                                                            input.btn.btn-sm.btn-info(type="submit" value="Edit")


        include ../compara/footer
    include ../compara/footer_script