head
    include ../compara/head
    script.
        function numberWithCommas(num) {
            var parts = num.toString().split(".");
            return parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",") + (parts[1] ? "." + parts[1] : "");
        }
        function chkNumber(obj) {
            var tmpValue = $(obj).val().replace(/[^0-9,]/g, '');
            tmpValue = tmpValue.replace(/[,]/g, '');
            obj.value = numberWithCommas(tmpValue);
        }
.wrapper
    include ../compara/sidebar
    script.
        $(document).ready(function () {
            $('#wishlist').addClass('active');
        });
    .main
        include ../compara/navbar
        main.content
            .container-fluid.p-0
                .row.justify-content-start
                    .col-xl-4.col-lg-6.col-md-12
                        h1
                            strong= "Add wish item"
                        h6 구매 예정 항목 추가
                    .row
                        .card
                            .card-body
                                .container.col-xl-8.col-lg-12
                                    form(action="wishitemeditapply" method="post")
                                        h4 Title
                                            input.mb-3(class="form-control" type="text" name="title" placeholder="Title" value=title class="col-12" required)
                                            h4 Cost
                                                .input-group.mb-3
                                                    input(class="form-control" type="text" onkeyup="chkNumber(this)" name="cost" value=cost.toLocaleString() placeholder="Cost" class="col-12" required)
                                                    span(class="input-group-text" id="basic-addon2") KRW
                                            h4 Link
                                            input.mb-3(class="form-control" type="text" name="link" placeholder="Link" value=link class="col-12")
                                            h4 Due date
                                            input#dateinput.mb-3(class="form-control" type="date" name="duedate" placeholder="duedate" value=duedate class="col-12" required)
                                            h4 Detail
                                            textarea.mb-3(class="form-control" type="textarea" name="detail" placeholder="detail" class="col-12" required)= detail
                                            h4 Priorty
                                            select.mb-3(class="form-control" name="priorty" placeholder="priorty" class="col-12" required)
                                                if(priority === '3')
                                                    option(value='4') Low
                                                    option.selected(value='3') Medium
                                                    option(value='2') High
                                                    option(value='1') Extreme
                                                else if(priority === '2')
                                                    option(value='4') Low
                                                    option(value='3') Medium
                                                    option.selected(value='2') High
                                                    option(value='1') Extreme
                                                else if(priority === '1')
                                                    option(value='4') Low
                                                    option(value='3') Medium
                                                    option(value='2') High
                                                    option.selected(value='1') Extreme
                                                else
                                                    option.selected(value='4') Low
                                                    option(value='3') Medium
                                                    option(value='2') High
                                                    option(value='1') Extreme
                                            .row.text-end
                                                a(class="btn btn-dark text-light col-lg-3 col-sm-5 ms-auto m-2" href="javascript:history.back()") go back
                                                button(class="btn btn-dark text-light col-lg-3 col-sm-5 m-2" type="submit") Submit

    include ../compara/footer_script.pug