head
    include ../compara/head
    script.
        function numberWithCommas(num) {
            var parts = num.toString().split(".");
            return parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",") + (parts[1] ? "." + parts[1] : "");
        }
        function chkNumber(obj) {
            var tmpValue = $(obj).val().replace(/[^0-9,]/g, '');
            tmpValue = tmpValue.replace(/[,]/g, '');
            obj.value = numberWithCommas(tmpValue);
        }
.wrapper
    include ../compara/sidebar
    script.
        $(document).ready(function () {
            $('#wishlist').addClass('active');
        });
    .main
        include ../compara/navbar
        main.content
            .container-fluid.p-0
                .row.justify-content-start
                    .col-xl-4.col-lg-6.col-md-12
                        h1
                            strong= "Wish item purchase"
                        h6 구매 항목 입력
                    .row
                        .card
                            .card-body
                                .container.col-xl-8.col-lg-12
                                    form(action="wishitempurchaseapply" method="post")
                                        input(type="hidden" name="_csrf" value=csrfToken)
                                        table(class="table table-hover table-borderless text-center")
                                            tr
                                                th cost
                                                td
                                                    input(class="form-control" type="number" name="cost" value=cost placeholder="cost" class="col-12" required)
                                            tr
                                                th(class="col-6") detail
                                                td
                                                    input(class="form-control" type="text" name="details" value=title placeholder="details" class="col-12" readonly)
                                            tr
                                                th method
                                                td
                                                    select(class="form-control" name="title" placeholder="title" class="col-12" required)
                                                        for line in setting.method
                                                            option(value=line)= line
                                            tr
                                                th Paid for
                                                td
                                                    select(class="form-control" name="subord" placeholder="title" class="col-12" required)
                                                        for line in setting.paidfor
                                                            option(value=line)= line
                                            tr
                                                th date
                                                td
                                                    input#dateinput(class="form-control" type="date" name="date" placeholder="date" class="col-12" required)
                                                    script.
                                                        document.getElementById('dateinput').value = new Date().toISOString().slice(0, 7);
                                                        document.getElementById('dateinput').value = new Date().toISOString().substring(0, 10);;
                                            tr
                                                th alligner
                                                td
                                                    select(class="form-control" name="alligner" placeholder="alligner" class="col-12" required)
                                                        for line in setting.alligner
                                                            option(value=line)= line
                                        div(class="row")
                                            a(class="btn btn-dark text-light col-lg-3 col-sm-5 ms-auto m-2" href="javascript:history.back()") go back
                                            button(class="btn btn-dark text-light col-lg-3 col-sm-5 m-2" type="submit") Submit

    include ../compara/footer_script.pug