head
    include ../compara/head
    script.
        function numberWithCommas(num) {
            var parts = num.toString().split(".");
            return parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",") + (parts[1] ? "." + parts[1] : "");
        }
        function chkNumber(obj) {
            var tmpValue = $(obj).val().replace(/[^0-9,]/g, '');
            tmpValue = tmpValue.replace(/[,]/g, '');
            obj.value = numberWithCommas(tmpValue);
        }
.wrapper
    include ../compara/sidebar
    script.
        $(document).ready(function () {
            $('#wishlist').addClass('active');
        });
    .main
        include ../compara/navbar
        main.content
            .container-fluid.p-0
                .row.justify-content-start
                    .col-xl-4.col-lg-6.col-md-12
                        h1
                            strong= "Add wish item"
                        h6 구매 예정 항목 추가
                    .row
                        .card
                            .card-body
                                .container.col-xl-8.col-lg-12
                                    form(action="wishitemeditapply" method="post")
                                        input(type="hidden" name="_csrf" value=csrfToken)
                                        h4 Title
                                        input.mb-3(class="form-control" type="text" name="title" placeholder="Title" value=title class="col-12" required)
                                        h4 Cost
                                            .input-group.mb-3
                                                input(class="form-control" type="text" onkeyup="chkNumber(this)" name="cost" value=cost.toLocaleString() placeholder="Cost" class="col-12" required)
                                                span(class="input-group-text" id="basic-addon2") KRW
                                        h4 Link
                                        input.mb-3(class="form-control" type="text" name="link" placeholder="Link" value=link class="col-12")
                                        h4 Due date
                                        input#dateinput.mb-3(class="form-control" type="date" name="duedate" placeholder="duedate" value=duedate class="col-12" required)
                                        h4 Detail
                                        textarea.mb-3(class="form-control" type="textarea" name="detail" placeholder="detail" class="col-12" required)= detail
                                        h4 Priority
                                        select.mb-3(class="form-control" name="priority" placeholder="priority" class="col-12" required)
                                            for line in [['4', 'Low'],['3', 'Medium'],['2', 'High'],['1', 'Extreme']]
                                                if priority===line[0]
                                                    option(value=line[0] selected)= line[1]
                                                else
                                                    option(value=line[0])= line[1]
                                        h4 Status
                                        select.mb-3(class="form-control" name="stat" placeholder="Stat" class="col-12" required)
                                            for line in [['1', 'Requested'],['2', 'Pending'],['3', 'Purchased'],['4', 'Rejected']]
                                                if line[0] === stat
                                                    option(selected value=line[0])= line[1]
                                                else
                                                    option(value=line[0])= line[1]
                                        .text-end
                                            button.btn.btn-danger.ms-2(type="button" data-bs-toggle="modal" data-bs-target="#removeModal") Remove
                                            .modal.text-start#removeModal
                                                .modal-dialog
                                                    .modal-content
                                                        .modal-header
                                                            .modal-title Warning
                                                        .modal-body
                                                            p Remove action is not recoverable
                                                            p will you continue?
                                                            .text-end
                                                                a.btn.btn-secondary.ms-auto(data-bs-dismiss="modal") Close
                                                                a.btn.btn-danger.ms-2(href="removewish") Remove
                                            a.ms-2(class="btn btn-dark text-light" href="javascript:history.back()") go back
                                            button.ms-2(class="btn btn-dark text-light" type="submit") Submit
    include ../compara/footer_script.pug