doctype html
include ../compara/head
.wrapper
    include ../compara/sidebar
        script.
            $(document).ready(function () {
                $('#wishlist').addClass('active');
            });
    .main
        include ../compara/navbar
        main.content
            .container-fluid.p-0
                .row.justify-content-start
                    .col-xl-4.col-lg-6.col-md-12
                        h1
                            strong= "Wish List"
                        h6 구매 예정 목록
                .row
                    .col-6
                        .card
                            div(class="card-body")
                                div(class="row no-gutters align-items-center")
                                    div(class="col mr-2")
                                        div(class="text-xs font-weight-bold text-warning text-uppercase mb-1")
                                            strong Requested
                                        div(class="h5 text-end mb-0 font-weight-bold text-gray-800")= "KRW " + summary.req_total.toLocaleString()
                                    div(class="col-auto")
                                        i(class="fas fa-money-check-alt fa-2x text-gray-300")
                    .col-6
                        .card
                            div(class="card-body")
                                div(class="row no-gutters align-items-center")
                                    div(class="col mr-2")
                                        div(class="text-xs font-weight-bold text-danger text-uppercase mb-1")
                                            strong High priorty
                                        div(class="h5 text-end mb-0 font-weight-bold text-gray-800")= "KRW " + summary.high_total.toLocaleString()
                                    div(class="col-auto")
                                        i(class="fas fa-receipt fa-2x text-gray-300")
                .card.col-12
                    .card-body
                        .row
                            H3 Remain
                            hr
                            table.table.table-sm.text-center
                                thead
                                    tr
                                        th Title
                                        th Cost
                                        th Priorty
                                        th Status
                                        th
                                            span.text-sm Created
                                            br
                                            span.text-sm Due date
                                        th Link
                                        th Purchase
                                        th Edit
                                tbody
                                    for line in result
                                        if (line.stat != 3)
                                            tr
                                                td= line.title
                                                td= line.cost.toLocaleString() + " KRW"

                                                td(class="text-light text-center")
                                                    if line.priorty === 1
                                                        span(class="badge bg-danger") EXTREME
                                                    else if line.priorty === 2
                                                        span(class="badge bg-warning") HIGH
                                                    else if line.priorty === 3
                                                        span(class="badge bg-success") MEDIUM
                                                    else if line.priorty === 4
                                                        span(class="badge bg-info") LOW
                                                td(class="text-light text-center")
                                                    if line.stat === 1
                                                        span(class="badge bg-warning") REQUESTED
                                                    else if line.stat === 2
                                                        span(class="badge bg-info") PENDING
                                                    else if line.stat === 3
                                                        span(class="badge bg-success") PURCHASED
                                                    else if line.stat === 4
                                                        span(class="badge bg-secondary") REJECTED
                                                td
                                                    strong.text-sm= line.created.toISOString().split('T')[0]
                                                    br
                                                    strong.text-sm= line.duedate.toISOString().split('T')[0]
                                                td
                                                    if(line.link)
                                                        a.btn.btn-primary.btn-sm(href=line.link) Link
                                                    else
                                                        a.btn.btn-sm.btn-dark.disabled Link
                                                td
                                                    form(name="apply" action="wishitempurchase" method="POST")
                                                        input(type="hidden" name="id" value=line.id)
                                                        input(type="hidden" name="title" value=line.title)
                                                        input(type="hidden" name="description" value=line.cost)
                                                        input(type="hidden" name="link" value=line.link)
                                                        input(type="hidden" name="stat" value=line.stat)
                                                        input.btn.btn-sm.btn-primary(type="submit" value="Buy")
                                                td
                                                    form(name="apply" action="wishitemedit" method="POST")
                                                        input(type="hidden" name="id" value=line.id)
                                                        input(type="hidden" name="title" value=line.title)
                                                        input(type="hidden" name="description" value=line.cost)
                                                        input(type="hidden" name="link" value=line.link)
                                                        input(type="hidden" name="stat" value=line.stat)
                                                        input.btn.btn-sm.btn-info(type="submit" value="Edit")
                            H3 Completed items
                            hr
                            table.table
                                thead(class="text-center")
                                    tr(class="text-center")
                                        th Title
                                        th Cost
                                        th Priorty
                                        th Status
                                        th Completed
                                        th Edit
                                tbody(class="text-center")
                                    for line in result
                                        if (line.stat === 3)
                                            tr
                                                td= line.title
                                                td= line.cost.toLocaleString() + " KRW"
                                                td(class="text-light text-center")
                                                    if line.priority === 1
                                                        span(class="badge bg-danger") EXTREME
                                                    else if line.priority === 2
                                                        span(class="badge bg-warning") HIGH
                                                    else if line.priority === 3
                                                        span(class="badge bg-success") MEDIUM
                                                    else if line.priority === 4
                                                        span(class="badge bg-info") LOW
                                                td(class="text-light text-center")
                                                    if line.stat === 1
                                                        span(class="badge bg-warning") REQUESTED
                                                    else if line.stat === 3
                                                        span(class="badge bg-success") PURCHASED
                                                    else if line.stat === 2
                                                        span(class="badge bg-info") PENDING
                                                    else if line.stat === 4
                                                        span(class="badge bg-secondary") REJECTED
                                                td= line.duedate.toISOString().split('T')[0]

                            .col.text-end
                                a.btn.btn-dark.text-light(href="addwish") Add data
        include ../compara/footer
    include ../compara/footer_script